despf.sh allows invalid CIDR ranges as output

This isn't technically a "bug" in despf.sh, in that it's doing what it's supposed to do: query the DNS and spit out the IP addresses and CIDR ranges.

This is an enhancement request to do some sort of validation checking on the CIDR range before outputting it. For example, when I run despf.sh against outlook.com (or even just against _spf-ssg-b.microsoft.com, which is one of the include: statements that gets evaluated), two of the CIDRs published by Microsoft (207.68.169.173/30 and 65.55.238.129/26) are invalid.

It would be wonderful if despf.sh ignored invalid CIDRs, and simply didn't output them. Thanks! :)

Perhaps Bill Cole's suggestion of using perl might help, or at least nudge you in the right direction?

http://thread.gmane.org/gmane.mail.postfix.user/253287/focus=253331

I'm working a shell script just for the cleanup. I'm reusing code sent to @stevejenkins . I'll send a pull-request in a few hours.

@jcbf :+1: 

@stevejenkins thanks for reporting this issue and sharing the link!

Merged by @jcbf. See `./normalize.sh`. No entry in README yet, though.

Re-opening this, hoping that @jcbf can come up with something creative to also address IPv6. LinkedIn.com is currently publishing ```2620:109:c006:104::215/32``` in their SPF record, which is invalid.

Wait, perhaps I spoke too soon. despf.sh might be *creating* the invalid IPv6 record itself:

    # dig txt linkedin.com | grep spf1
    linkedin.com.           3485    IN      TXT     "v=spf1 ip4:199.101.162.0/25 ip4:108.174.3.0/24 ip4:108.174.6.0/24 ip6:2620:109:c00d:104::/64 ip6:2620:109:c006:104::/64 ip6:2620:109:c003:104::/64 ip4:216.136.162.65 ip4:199.101.161.130 mx mx:docusign.net ~all"```

The TXT record only has 3 IPv6 entries. But despf.sh spits out 4, and the additional one is the invalid one (see comment above).

Something in desph.sh is generating the ```ip6:2620:109:c006:104::215/32``` from linkedin.com's SPF record.

And even though this doesn't seem to be an IPv6 validation issue, we should look ahead to IPv6 validation anyway.

Resources:

* http://twobit.us/2011/07/validating-ip-addresses/
* http://stackoverflow.com/questions/14697403/expand-ipv6-address-in-shell-script

@stevejenkins Fixed. Thanks for catching this. I did not like the hardcoded `32` when I saw it, but did not have time to test thoroughly. Feel free to close this issue if it is fixed now.

Confirmed. That fixes it! :)

@stevejenkins BTW, what does make the CIDR ranges you mentioned in the first post invalid?

```
$ ipcalc 207.68.169.173/30
Address:   207.68.169.173       11001111.01000100.10101001.101011 01
Netmask:   255.255.255.252 = 30 11111111.11111111.11111111.111111 00
Wildcard:  0.0.0.3              00000000.00000000.00000000.000000 11
=>
Network:   207.68.169.172/30    11001111.01000100.10101001.101011 00
HostMin:   207.68.169.173       11001111.01000100.10101001.101011 01
HostMax:   207.68.169.174       11001111.01000100.10101001.101011 10
Broadcast: 207.68.169.175       11001111.01000100.10101001.101011 11
Hosts/Net: 2                     Class C
```

```
$ ipcalc 65.55.238.128/26
Address:   65.55.238.128        01000001.00110111.11101110.10 000000
Netmask:   255.255.255.192 = 26 11111111.11111111.11111111.11 000000
Wildcard:  0.0.0.63             00000000.00000000.00000000.00 111111
=>
Network:   65.55.238.128/26     01000001.00110111.11101110.10 000000
HostMin:   65.55.238.129        01000001.00110111.11101110.10 000001
HostMax:   65.55.238.190        01000001.00110111.11101110.10 111110
Broadcast: 65.55.238.191        01000001.00110111.11101110.10 111111
Hosts/Net: 62                    Class A
```

@jcbf I do not see what `normalize.sh` does. Can you please provide a test input and output?

Using @stevejenkins example domain

```
 ./despf.sh hotmail.com > /tmp/hotmail.spf
 cat /tmp/hotmail.spf | ./normalize.sh  > /tmp/hotmail.normalized
 diff -u /tmp/hotmail.normalized /tmp/hotmail.spf
```

should output diff

```
--- /tmp/hotmail.normalized	2015-12-02 15:53:10.000000000 +0000
+++ /tmp/hotmail.spf	2015-12-02 15:52:31.000000000 +0000
@@ -43,7 +43,7 @@
 ip4:207.46.58.128/25
-ip4:207.68.169.172/30
+ip4:207.68.169.173/30
 ip4:207.68.176.0/26
@@ -70,7 +70,7 @@
 ip4:65.55.234.192/26
-ip4:65.55.238.128/26
+ip4:65.55.238.129/26
 ip4:65.55.33.64/28
```


Sorry, I typo'd the corrected IP address that MS is reporting in my first post. I've edited the original post. Here's what MSFT reports from one of their records:

```
# dig _spf-ssg-b.microsoft.com txt | grep spf1
_spf-ssg-b.microsoft.com. 494   IN      TXT     "v=spf1 ip4:207.68.169.173/30 ip4:207.68.176.0/26 ip4:207.46.132.128/27 ip4:207.68.176.96/27 ip4:65.55.238.129/26 ip4:65.55.238.129/26 ip4:207.46.116.128/29 ip4:65.55.178.128/27 ip4:213.199.161.128/27 ip4:65.55.33.64/28 ~all"
```

Note that 207.68.169.173/30 appears once and 65.55.238.129/26 appears twice in that record. Both are invalid.

When run through ipcalc:

```
# ipcalc -n 207.68.169.173/30
NETWORK=207.68.169.172
# ipcalc -n 65.55.238.129/26
NETWORK=65.55.238.128
```

If NETWORK != the original IP, then the IP address is invalid. In my Postwhite script, I give the user the option whether to replace the invalid IP with the corrected one, remove it from the results, or leave it in the results.

@jcbf and @stevejenkins, thanks for clarification!!! I have added tests for `normalize.sh` and added it also to README file. Hats off for cooperation! Thanks!!!

Now I just need to fix the failing added test: https://github.com/jsarenik/spf-tools/pull/46

Sorry for re-opening, but I'd love to see an option for ``normalize.sh``` (or perhaps a different script altogether such as ```omitinvalid.sh```) that performs the inspection as ```normalize.sh```, but could omit the invalid IPv4 CIDR from the results.

It's technically possible that normalizing an invalid IPv4 CIDR could change it to a netblock that is not actually owned or controlled by the reporting entity.

That way, ```despf.sh microsoft.com | normalize.sh``` and ```despf.sh microsoft.com | omitinvalid.sh``` would both produce lists of valid IPs and CIDRs, but the first option would include "fixed" ones and the second one wouldn't.

Omitting those may raise another issue.
In your example, it is somehow expected that ip4/ip6 mechanisms are well defined CIDR but that may not be the case for the a and mx mechanisms.

For instance, assume that www.example.com resolves to 192.0.2.3 and you find a SPF record containing ```"v=spf1 a:www.example.com/28 -all"``` . In this case despf.sh will expand to ip4:192.0.2.3/28. It is a valid record and should not be ommited.
I understand your concerns but  ```normalize.sh``` is behaving according to RFC and is consistent whit SPF validators. 


I could make more checks in ```normalize.sh``` to catch invalid IP or networks like 
```
./normalize.sh <<< "ip4:111.221.26.310/27" 
ip4:111.221.27.32/27
```
As per RFC these record should be omitted. 



Hi, @jcbf. I agree that all **valid** IP addresses and ranges should be included.

I'm *only* talking about what to do with **invalid** IP CIDR ranges. The default behavior for ```normalize.sh``` is to "repair" them. But the repaired CIDR is different than the CIDR published by the host. So what happens if the repaired CIDR actually represents a netblock that is not actually owned by the host? Sure, the CIDR might be technically valid, but it may not represent a netblock that the host wishes to claim it owns. On the contrary, it could lead to whitelisting of untrustworthy hosts.



Hi,

let me see if I got this right.

Quoting RFC 7208, Section 5.  Mechanism Definitions
```
 If a CIDR prefix length is specified, then only the specified number
   of high-order bits of <ip> and the IP address are compared for
   equality.
```
What ```normalize.sh``` does is zero the low-order bits accordingly with the netmask.
The result will be the first IP address of that block. It is a different record but it is syntactically equivalent and only make sense for applications that are picky regarding CIDR format. In defence to Postfix I may add that CIDR (as of RFC 4632) applies to networks and CIDR tables in Postfix should only use valid networks addresses. In SPF the CIDR notation is used slightly in a different way whereas  a CIDR record referes tan IP address and netmask.

When spammers initially started to use SPF enable domain to send spam we started to observe allot of 
```
v=spf1 +all
v=spf1 0.0.0.0/0 -all
v=spf1 0.0.0.0/1 128.0.0.0/1  -all
etc
```
I you are concern that something similar to this may happen, you should be careful about the domains you choose to whitelist. ```normalize.sh```will not change the record to give you other netblock than the intended one. On the other side, you got domain owners that can include whatever they want, whether or not they own it or not.

I really need more coffee, so if I'm not really answer for question please provide an example. 
 

