Missing CIDR  Notation, no Recursion

Checkout the SPF record for ticketmaster.com:

1) The raw record cuts on a quotation mark for 208.66.204.0/22 at 208.66.204.0 and wraps to the next line, which begins with a quotation mark.  You're script doesn't catch that.  You're missing the /22 at the end, so output for ./despf.sh ticketmaster.com is ip4:208.66.204.0.  This is likely the case for any such instance.  Something like this fixes it:

cat $rawdatafile | tr '\n' '\f' | sed -e 's/\"\f\"//g'  | tr '\f' '\n'

2) You're not recursing: The SPF record for ticketmaster.com includes spf-95.jangomail.com and the latter lists ip4:208.75.253.59.  On the other hand, ./despf.sh ticketmaster.com doesn't list that ip address.  Is that desired behavior?

As is, everything after the " "/22 is ignored, including the  the  spf-95.jangomail.com.
So 2. is related with the bad parsing.

@bakerjalexander Please provide a working test case. If you say `ticketmaster.com` but it currently does not break, it is hard to make a correct fix. Thanks!

@bakerjalexander Another thing is that as far as I understand SPF record syntax, one is not supposed to wrap one record into multiple lines. Is that right?

http://www.openspf.org/SPF_Record_Syntax

@jsarenik , It's not multiple record, i't a multiple string issue. RFC allows it.
https://tools.ietf.org/html/rfc7208#section-3.3
https://tools.ietf.org/html/rfc4408#section-3.1.3

> As defined in [RFC1035] sections 3.3.14 and 3.3, a single text DNS
>    record (either TXT or SPF RR types) can be composed of more than one
>    string.  If a published record contains multiple strings, then the
>    record MUST be treated as if those strings are concatenated together
>    without adding spaces.  For example:
> 
>       IN TXT "v=spf1 .... first" "second string..."
> 
>    MUST be treated as equivalent to
> 
>       IN TXT "v=spf1 .... firstsecond string..."
> 
>    SPF or TXT records containing multiple strings are useful in
>    constructing records that would exceed the 255-byte maximum length of
>    a string within a single TXT or SPF RR record.

The #120 should fix it but I don't understand why is breaking the tests.

```
jcbf@testbox:~/spf-tools$ DESPF_SKIP_DOMAINS="spf.protection.outlook.com et._spf.pardot.com spf-95.jangomail.com" ./despf.sh ticketmaster.com
ip4:204.14.204.171/32
ip4:204.14.204.19/32
ip4:205.132.168.0/21
ip4:208.66.204.0
ip4:209.104.32.0/19
ip4:76.192.46.15/32
jcbf@testbox:~/spf-tools$ git checkout ticket_119_myhost_bad_parsing
Switched to branch 'ticket_119_myhost_bad_parsing'
jcbf@testbox:~/spf-tools$ DESPF_SKIP_DOMAINS="spf.protection.outlook.com et._spf.pardot.com spf-95.jangomail.com" ./despf.sh ticketmaster.com
Skipping spf.protection.outlook.com
Skipping et._spf.pardot.com
Skipping spf-95.jangomail.com
include:et._spf.pardot.com
include:spf-95.jangomail.com
include:spf.protection.outlook.com
ip4:204.14.204.171/32
ip4:204.14.204.19/32
ip4:205.132.168.0/21
ip4:208.66.204.0/22
ip4:209.104.32.0/19
ip4:76.192.46.15/32
ip4:77.75.136.192/26
```

Here is code I borrowed (somewhere) off the internet which I use to grab all the SPF IP's from a given domain:

#!/usr/bin/perl
$domain=shift @ARGV;
@results=getit($domain);


sub getit {
  my $domain=shift;

  my @foo=`nslookup -q=TXT $domain`;
  my @results=();
  foreach (@foo) {
   next if not /$domain\ttext/;
   s/$domain\ttext = "v=spf1//;
   @results=split /\s+/;
   foreach (@results) {
    next if /-all/;
    print "$_\n";
    if (/include:/) {
     s/include://;
     getit($_);
    }
   }
  }
}

Still gives the wrapped record, but I fix that in another script.

I ran into a 255 character limit on TXT records because my customer is unfortunately using Hover and that's all they allow, so I've been putting together a package using Algorithm::Bucketizer in order to chunk the IPs together as close to the 255 limit as possible.

Using iprange https://github.com/firehol/iprange to consolidate the CIDR's.

I'll test your fix presently.

Fix 120 works for me on ticketmaster.com but I didn't try to build it

@bakerjalexander please try the latest version on master. Fix has been merged with a test-case. I hope it helps with your issue.

@bakerjalexander @jcbf - is this fixed and can be closed already?