Check for valid ip records

While reporting #28 , @stevejenkins  mentioned the possibility of having invalid ips in record may result in "strange" blocks in the normalisation script.

ip4/ip6 should be validated before printing.

In https://tools.ietf.org/html/rfc7208#section-5.6 the format is well define and SPF validators will ignore invalid one.

Should be this be check in ```normalize.sh``` or should be in ```despf.sh``` ?

**Pros and Cons**
* In ```despf.sh```:
  * No real side effect since SPF validators will ignore those records
  * If ```despf.sh```is targeted for optimisation os SPF records, having invalid record beats the purpose.
  * Really sucks for automated process that rely on valid data
* In ```normalize.sh```:
  * This is only an issue in CIDR normalisation
  * No real side effect since SPF validators will ignore those records
  
Comments, please!

Relevant part of RFC 7208
```
5.6.  "ip4" and "ip6"

   These mechanisms test whether <ip> is contained within a given
   IP network.

   ip4              = "ip4"      ":" ip4-network   [ ip4-cidr-length ]
   ip6              = "ip6"      ":" ip6-network   [ ip6-cidr-length ]

   ip4-cidr-length  = "/" ("0" / %x31-39 0*1DIGIT) ; value range 0-32
   ip6-cidr-length  = "/" ("0" / %x31-39 0*2DIGIT) ; value range 0-128
   dual-cidr-length = [ ip4-cidr-length ] [ "/" ip6-cidr-length ]

   ip4-network      = qnum "." qnum "." qnum "." qnum
   qnum             = DIGIT                 ; 0-9
                      / %x31-39 DIGIT       ; 10-99
                      / "1" 2DIGIT          ; 100-199
                      / "2" %x30-34 DIGIT   ; 200-249
                      / "25" %x30-35        ; 250-255
            ; as per conventional dotted-quad notation, e.g., 192.0.2.0

   ip6-network      = <as per Section 2.2 of [RFC4291]>
            ; e.g., 2001:db8::cd30

   The <ip> is compared to the given network.  If CIDR prefix length
   high-order bits match, the mechanism matches.

   If ip4-cidr-length is omitted, it is taken to be "/32".  If
   ip6-cidr-length is omitted, it is taken to be "/128".  It is not
   permitted to omit parts of the IP address instead of using CIDR
   notations.  That is, use 192.0.2.0/24 instead of 192.0.2.
```

Thanks much for writing this issue, @jcbf ! I see @stevejenkins 's point and I think that it makes sense to keep things separate for now, so I would vote for adding an option to `normalize.sh` for not printing out the corrected (originally invalid) ranges as well as checking for completely invalid, as you mentioned for example something like `172.168.0.310`.

I know it all looks now like a dissassembled wrist watch but it is about ideas. Of course many of these things can be done more easily in Perl. Maybe one day there will be a C implementation. But let's stick with what we have for now and implement ideas. This topic which you two brought recently has never crossed my mind because all I wanted was to solve the simple task. I'm very glad to see community of people around, making the tools more robust and I imagine if projects like Apache HTTPD came to be like this :-)

I will be not online for a couple of days now but since you have the rights to merge, please do so after you first verify that you feature branch (and its pull-request) passes the tests. Please feel free to add tests if you add some functionality. Or I will gladly help when I'm back.

Good luck and talk to you soon!

I suggest putting it into `despf.sh`. @jcbf what do you think? Would you have time to think about it? Thanks!

+1 for inclusion in despf.sh. Invalid records are useless, so the earlier in any process they can be excluded, the better!

+1 for despf.sh . Later this week I can pull a function to deal with it.
Although invalid records are, or should be, ignored by the validators. But like @stevejenkins said " the earlier in any process they can be excluded, the better!"

@jcbf and @stevejenkins - have a look at #79 

Ah, I'm not checking the CIDR yet...

CIDR checking added. See #79 

@jcbf Closing this.

Is this in the current release (April 13, 2016)? I'm still seeing invalid IP addresses and CIDRs generated by despf.sh:

65.55.238.129/26
194.7.41.152/28
207.68.169.173/30

I'd love to be able to remove the validation subroutines from postwhite (which depends on despf.sh) and push all the validation upstream. Thx!

I thought that's what `./normalize.sh` is meant to do.

```
$ ./normalize.sh <<EOF
> ip4:65.55.238.129/26
> ip4: 194.7.41.152/28
> ip4: 207.68.169.173/30
> EOF
ip4:65.55.238.128/26
ip4:194.7.41.144/28
ip4:207.68.169.172/30
```

That hasn't been changed and IPv6 support was not added yet.

Oh... based on the comments above I thought it was migrating over into despf.sh. :) I'll be patient!

I'll wait for #79 to be merged in (if that's still the plan).

This was already merged. 
Can it be closed ? 

I everyone is happy, I think it can be closed. Issue started by you @jcbf so feel free to close it. Thanks!